[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
streamlit = "*"
bs4 = "*"
langchain-text-splitters = "*"
tiktoken = "*"
tabulate = "*"
openai = "*"
ipykernel = "*"
dotenv = "*"
lxml = "*"
langchain-openai = "*"
chromadb = "*"
langchain-chroma = "*"
langchain = ">=0.2.0"
langchain-community = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.8"
