[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy    = "<2.0"
scipy = "*"
pandas = "*"
streamlit = "*"
bs4 = "*"
langchain-text-splitters = "*"
tiktoken = "*"
tabulate = "*"
openai = "*"
ipykernel = "*"
dotenv = "*"
lxml = "*"
langchain-openai = "*"
chromadb = ">=0.6.2"
langchain = ">=0.2.0"
langchain-community = "*"
watchdog = "*"
docker = "*"
pysqlite3-binary = {version=">=0.5.3", markers="platform_system == 'Linux'"}

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.9"

[pipenv]
allow_prereleases = true
